<div class="row">
    <div class="col-md-4">
        <ngbd-datepicker-basic
        (dateSelected)="dateSelected($event)"
        [trainingDay]="trainingDayData">
        </ngbd-datepicker-basic>
    </div>
    <div class="col-md-8">
       <h3> Selected date: {{ selectedDate.day}} {{ getMonthName() }} {{ selectedDate.year}} </h3>
       <div
       *ngIf = "currentTrainingDay.id !== undefined" 
       >
       Plan: {{ currentTrainingDay.trainingPlan }}
       Description: {{ currentTrainingDay.description }}
    </div>
    </div>
</div>
<hr>

