
<div class="row">
        <div  class="col-md-4">
        <form>
                <div class="form-group">
                    <label for="name-input">Plan name:</label>
                    <input
                    type="text" 
                    name="name-input"
                    [(ngModel)]="planInfo.name" 
                    class="form-control" />
                </div>
        </form>
        <button type="button" class="btn btn-primary" (click)="addOrUpdatePlanRecord($event);">{{!planInfo || planInfo.id === undefined ? 'Save' : 'Edit'}}</button>
        <button type="button"class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
    </div>
    <div class="col-md-8">
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center"
    *ngFor="let exercise of exerciseData">
      {{ exercise.name }}          
      <button *ngIf="!isExerciseExist(exercise)" type="button" 
      class="btn btn-success btn-circle text-left"
      (click)="addExerciseId(exercise)"></button>
      <button *ngIf="isExerciseExist(exercise)" type="button" 
      class="btn btn-danger btn-circle text-left"
      (click)="removeExerciseId(exercise)"></button>
    </li>
</ul>
</div>
</div>
